extends ../layouts/main-layout.pug

block title 
    title Editing-#{dish.name}

block styles
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/detail.css")
    link(rel="stylesheet", href="/styles/form.css")

block additional-nav-links 
    li 
        a(href="/admin/add-recipe") Add Recipe 

block content 
    main 
        section.heading 
            h1 Editing #{dish.name}
            a.link-button(href='/recipes/'+dish.recipeID) Cancel 
        section.edit-form 
            form.name-description(action='/admin/edit-recipe/'+dish.recipeID, method="POST")
                .step-name
                    label(for="name") Dish Name
                    input#dish-input(type="text", name="name", value=dish.name)
                .step-description 
                    label(for="description") Description
                    textarea#description-input(name="description") #{dish.description}
                .step-image
                    label(for="image") Image URL
                    input#image-input(type="text", name="imageUrl", value=dish.imgName)
                button(type="submit") Update Recipe